body{
    padding: 1%;
}

.parte_superior{
    overflow: hidden;
    margin-bottom: 10px;
}

.nueva_transferir{
    overflow: hidden;
    margin-bottom: 10px;
}

.cuentas{
    overflow: hidden;
    margin-top: 10px;
    width:100%;
}


.cuentas div{
    float:left;
}

.nombre_cuenta{
    width: 17%;
    color:rgb(75, 75, 208);
}

.total_dinero{
    margin-left: 1%;
    width: 55%;
}

.transferencias{
    margin-left: 1%;
    width: 15%;
}

.editar{
    margin-left: 1%;
    width: 10%;
}


@media screen and (max-width: 600px) {
    h2{
        font-size: 12px;
    }

    button{
        font-size: 10px;
    }

    .total_dinero{
        width: 35%;
    }

    .transferencias{
        width: 25%;
    }

    .editar{
        width: 20%;
    }

}