<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="irCuentas()">Cuentas</button>
        <button mat-menu-item (click)="irCategorias()">Categorias</button>
        <button mat-menu-item (click)="irHistorial()">Historial</button>
        <button mat-menu-item (click)="irLimites()">Limites</button>
        <button mat-menu-item (click)="irObjetivos()">Objetivos</button>
        <button mat-menu-item (click)="irUsuario()"><mat-icon>person</mat-icon> Usuario</button>
      </mat-menu>
    </button>

    <img src="./assets/logo_barra.png" (click)="irInicio()">

    
    <span class="example-spacer"></span>
    
    <button class="salir" (click)="logout()">
      <span>Salir</span>
    </button>

</mat-toolbar>



