<h1 mat-dialog-title>Crear cuenta</h1>
<mat-dialog-content>
  <p>Agrega los datos de la cuenta</p>
  
    <form [formGroup]="transferenciaForm">




        <label>De</label>
        <select class="example-full-width" name="select" formControlName="clave_cuenta">
          <option disabled value="null">Elige una cuenta</option>
          <option *ngFor="let item of cuentas" [value]="item.id">
             {{ item.nombre }}
          </option>
        </select>

        <h1 *ngIf="cuenta_error!=false"> Elija una cuenta </h1>

        <label>A</label>
        <select class="example-full-width" name="select" formControlName="clave_cuenta2">
          <option disabled value="null">Elige una cuenta</option>
          <option *ngFor="let item of cuentas" [value]="item.id">
             {{ item.nombre }}
          </option>
        </select>
        
        <h1 *ngIf="cuenta2_error!=false"> Elija una cuenta </h1>
        

      <label>Cantidad</label>
      <input type='number' matInput
             formControlName="description" formControlName="cantidad" required/>

      <h1 *ngIf="cantidad_error!=false"> Ingrese un numero en la casilla cantidad </h1>


      <label>Comentarios</label>
      <textarea formControlName="correo" formControlName="comentarios"></textarea>




    </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="enviarTransferencia(transferenciaForm.value)" cdkFocusInitial>Ok</button>
</div>



