body{
    padding: 1%;
}

.informacion_general{
    padding: 1%;
    border: 2px solid gray;
    border-radius: 10px;
    float: left;

    width: 50%;
}

.cambiar_contra{
    padding: 1%;
    border: 2px solid gray;
    border-radius: 10px;

    float:right;
    width: 40%;
    text-align: center;
}

input {
    font-family: "Roboto", sans-serif;

    background: #ffffff;
    width: 100%;
    border: 3px solid black;
    border-radius: 4px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

.input_nombre{
    width:60%;
}

select {
    font-family: "Roboto", sans-serif;

    background: #ffffff;
    width: 60%;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}


.informacion_general button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #c6cbec;
    float: right; 
    width: 35%;
    border: 0;
    padding: 15px;
    color: #000000;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.cambiar_contra button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #c6cbec;
    
    width: 50%;
    border: 0;
    padding: 15px;
    color: #000000;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    
}

.informacion_general button:hover,.informacion_general button:active,.informacion_general button:focus {
    background: #a0aadf;
}


.cambiar_contra button:hover,.cambiar_contra button:active,.cambiar_contra button:focus {
    background: #a0aadf;
}



@media screen and (max-width: 600px) {
    .cambiar_contra{
        margin-top: 10%;
        float:none;
        width: 96%;
    }

    .informacion_general{
        float:none;
        width: 96%;
    }

    .informacion_general button {
        width: 30%;
        padding: 9px;
        font-size: 12px;
 
    }

    input {
        
        font-size: 12px;
    }
    
    .input_nombre{
        width: 65%;
    }
    select {
        width: 65%;
        font-size: 12px;
    }

    .cambiar_contra button {
        width: 30%;
        padding: 9px;
        font-size: 12px;
 
    }
}