<app-barra-superior></app-barra-superior>

<body>

    <h1>Perfil de Usuario</h1>

    <br>

    <div>

        <div class="informacion_general">
            <h2>Informacion general</h2>

            <br>

            <input class="input_nombre" [(ngModel)]='nombre' type="text" placeholder="Nombre completo" value={{nombre}}/> <button (click)="cambiar_nombre(nombre)">Cambiar nombre</button>
           
            <div *ngIf="nombre_vacio!=false">
                <br>
                <h2> No deje la casilla de nombre vacia </h2>
                <br>
            </div>
           
            <input type="text"  placeholder="Correo" [disabled]="true" value={{correo}}/>
            <select [(ngModel)]='divisa'>
                <option disabled value="" selected>Elige una divisa</option>
                <option *ngFor="let item of divisas" [value]="item.clave">{{item.nombre}}</option>
            </select>

            <button (click)='cambiar_divisa(divisa)'>Cambiar divisa</button>

            <input type="text"  placeholder="Balance" [disabled]="true" [value]="balance | currency: divisa_pipe ?? ''"/>
        </div>

       
        <div class="cambiar_contra">

            <h2>Cambiar contraseña</h2>

            <input [(ngModel)]='contra' type="password"  placeholder="Nueva Contraseña" value=/>

            <div *ngIf="contra_invalida!=false">
                <br>
                <h2> Ingrese una contra de al menos 8 caracteres, con numeros y letras, y al menos un caracter especial </h2>
                <br>
            </div>

            <input [(ngModel)]='contra2' type="password"  placeholder="Confirmar nueva contraseña" value=/>
            
            <div *ngIf="contras_no_coinciden!=false">
                <br>
                <h2> Las contreñas no coinciden </h2>
                <br>
            </div>

            <button (click)='cambiar_contra(contra, contra2)'>Cambiar contraseña</button>
        </div>

    </div>



    
</body>

