<app-barra-superior-login></app-barra-superior-login>

<div class="login-page">
	<div class="form">


        <strong><h1>Inicio de sesion</h1></strong>
        <img src="./assets/login.png">
        <br>
        <br>

        
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
            
            <input type="text"  placeholder="Correo" formControlName="correo"/>
            <input type="password" placeholder="Contraseña" formControlName="contra"/>
            <p style="text-align: right;" class="message"><a href="recuperar_contra">Olvidaste tu contraseña?</a></p>
            <br>
            
            <button>Entrar</button>
        
        </form>

        <div *ngIf="inicio_incorrecto!=false">

            <br>

            <h1> Credenciales Incorrectas </h1>

            <br>

        </div>

        <hr>


        <button class="btn_registro" (click)="irRegistro()">Registrarse</button>



	</div>
</div>

