.material-icons.color_white { color: #FFFFFF; }

body{
    padding: 1%;
}

.parte_superior{
    overflow: hidden;
}

.limites{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
}

.categoria{
    width: 18%;
    float:left;
}

.total_gastado{
    margin-left: 1%;
    width: 18%;
    float:left;
}

.limite_asignado{
    margin-left: 1%;
    width: 30%;
    float:left;
}


.fecha_limite{
    margin-left: 1%;
    width: 15%;
    float:left;
}


.barra{
    margin-left: 19%;
    width: 18%;
    float:left;
    
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 13px;
    }

    h2{
        font-size:11px;

    }

    .material-icons.color_white { color: #FFFFFF;
        transform: scale(0.7); }

    button{
        width: 40px;
        height: 30px;
    }

}




