<app-barra-superior></app-barra-superior>

<body>

    <div class="parte_superior">
        <h1 class="titulo" style="float: left;">Limites de gasto</h1>
        <button class="Nuevo_limite" mat-button color="primary" style="border: 2px solid blue; float:right" (click)="openDialog()" >Nuevo Limite <mat-icon>create</mat-icon></button>
    </div>


    <hr>

    <div style="color:rgb(31, 31, 204)">

        <div class="categoria" ><h1>Categoria</h1></div>
        <div class="total_gastado"><h1>Gastado</h1></div>
        <div class="limite_asignado"><h1>Limite asignado</h1></div>
        <div class="fecha_limite"><h1>Fecha Limite</h1></div>

    </div>

    <br>
    <br>
    <br>

    <hr>

    <div *ngFor="let item of limites" class="limites">
        <div class="categoria"><h2>{{item.nombre_categoria}}</h2></div>

        <div *ngIf="item.total>item.asignado" class="total_gastado" style="color:red"><h2>{{item.total | currency:item.divisa}}</h2></div>
        <div *ngIf="item.total<=item.asignado" class="total_gastado" style="color:Green"><h2>{{item.total | currency:item.divisa}}</h2></div>
        <div class="limite_asignado"><h2>{{item.asignado  | currency:item.divisa }}</h2></div>
        <div class="fecha_limite"><h2>{{item.fecha_limite}}</h2></div>
        
        <button style="background-color: #6F0507;border-radius: 10px; margin-left: 1%;" (click)="openDialogEliminar(item.id)"><mat-icon class="material-icons color_white">delete</mat-icon></button>

        <mat-progress-bar mode="determinate" class="barra" [value]="(item.total / item.asignado) * 100"></mat-progress-bar>

       
    </div>

</body>




