<h1 mat-dialog-title>Crear pago</h1>
<mat-dialog-content>
  <p>Agrega los datos de la transaccion</p>
  
    <form [formGroup]="transaccionForm">




        <!-- Categorias de gasto -->
        <div >
          <label>Categoria</label>

            <select class="example-full-width" name="select" [(ngModel)]="categoria_elegida_gasto" formControlName="categoria_gasto">
              <option disabled value="null">Elige una categoria</option>
              <option *ngFor="let item of categorias_gasto" [value]="item.id">
                {{ item.nombre }}
              </option>
            </select>
        </div> 

        <h1 *ngIf="categoria_error!=false"> Elija una categoria </h1>

      <!-- SubCategorias de gasto -->
      <div>
        <label>SubCategoria</label>
          <select class="example-full-width" name="select" formControlName="subcategoria_gasto">
            <option disabled value="null">Elige una subcategoria</option>
            <option value=''>--Dejar Subcategoria Vacia--</option>

            <ng-container *ngFor="let item of subcategorias" >

              <option *ngIf="item.clave_categoria_id==categoria_elegida_gasto"  [value]="item.id">
                {{ item.nombre }}
              </option>


            </ng-container>
              
          </select>
      </div>


      <label>Cuenta</label>
          <select class="example-full-width" name="select" formControlName="cuenta">
            <option disabled value="null">Elige una cuenta</option>
            <option *ngFor="let item of cuentas" [value]="item.id">
               {{ item.nombre }}
            </option>
          </select>
          
          <h1 *ngIf="cuenta_error!=false"> Elija una cuenta </h1>
          

        <label>Cantidad</label>
        <input type='number' matInput
               formControlName="cantidad" required/>

        <h1 *ngIf="cantidad_error!=false"> Ingrese un numero en la casilla cantidad </h1>


        <label>Cantidad de pagos</label>
        <select class="example-full-width" name="select" formControlName="cantidad_pagos">

            <option *ngFor="let i of range(2, 24)" [value]="i">
               {{ i}}
            </option>
          </select>

        <h1 *ngIf="cantidad_pagos_error!=false" > Ingrese un numero entre 2 y 24 </h1>

        <label>Comentarios</label>
        <textarea formControlName="correo" formControlName="comentarios"></textarea>

        <label>Imagen</label>
        <input id="imagen" type="file" name="imagen" formControlName="imagen" (change)="onFileSelected($event)" />
        
    </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="enviarTransaccion(transaccionForm.value)"  cdkFocusInitial>Ok</button>
</div>